<div>
<h1><img src="https://upload.wikimedia.org/wikipedia/vi/thumb/e/ef/Logo_Đại_h%E1%BB%8Dc_Bách_Khoa_Hà_Nội.svg/682px-Logo_Đại_h%E1%BB%8Dc_Bách_Khoa_Hà_Nội.svg.png" alt="hust" width="100px" height="153">TRANG ĐĂNG KÝ LỚP HỌC</h1>
<h2 class="main-title text-center">ENROLLMENT</h2>
</div>

<form action="">
    <div class="semester-container margin-8-0">
        <label for="semester">
            <span>Semester : </span>
            <select name="semester" class="padding-4 cursor-pointer" id="semester">
                <option value="20211">20211</option>
                <option value="20212">20212</option>
                <option value="20213">20213</option>
                <option value="20214">20214</option>
            </select>
        </label>
        <label for="major">
            <span>Major : </span>
            <select name="major" class="padding-4 cursor-pointer" id="semester">
                <option value="IT">IT</option>
                <option value="CS">CS</option>
                <option value="SE">SE</option>
            </select>
        </label>
    </div>
    <div class="subject-container margin-8-0">
        <label for="enroll">
            <span>Subject ID </span>
            <input type="text" name="class_id" class="padding-4" id="enroll">
            <button type="submit" class="button-style cursor-pointer enroll-btn button">Enroll</button>
        </label>
    </div>
    <div class="table-container">
        <h3 class="text-center letter-space-14 margin-16-0">
            Table : Enrolled subject of student
        </h3>
        <table class="width-100per">
            <thead>
                <tr>
                    <td>Subject ID</td>
                    <td>Subject Name</td>
                    <td>Date</td>
                    <td>Enrollment Conditon</td>
                    <td>Credit Number</td>
                    <td><input type="checkbox"></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ED3220</td>
                    <td>Database</td>
                    <td>4/4/2021</td>
                    <td>Success</td>
                    <td>2</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>ED3220</td>
                    <td>Database</td>
                    <td>4/4/2021</td>
                    <td>Success</td>
                    <td>2</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>ED3220</td>
                    <td>Database</td>
                    <td>4/4/2021</td>
                    <td>Success</td>
                    <td>2</td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>ED3220</td>
                    <td>Database</td>
                    <td>4/4/2021</td>
                    <td>Success</td>
                    <td>2</td>
                    <td><input type="checkbox"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="delete-container margin-16-0 ">
        <button type="submit" class="delete-btn cursor-pointer button">Delete enrolled subject</button>
    </div>
    <div class="send-enrollment-container margin-16-0 text-center">
        <button type="submit" class="send-btn cursor-pointer button">Send enrollment</button>
    </div>
</form>

    <div class="box"></div>
